@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-color: #dece9c;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
    font-family: 'Cinzel',sans-serif;
    

}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #a21232;
    font-size: 300%;
    font-weight: 700;
}

.main-div {
    background-color:#dece9c;
    width: 90%;
    max-width: 800px;
    padding: 15px;
    

    border: 2px solid #1a1831;
    border-radius: 6px;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.questions-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.question {
    color: 1a1831;
    font-size: 24px;
    font-weight: 600;
}

.answers-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}

.next-question {
    margin-top: 20px;
}

.button {
    background-color: #1a1831;
    color: #ffff;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    margin: 5px;
    padding: 5px 20px;
}

.button:hover {
    filter: brightness(0.8);

}

.hide {
    display: none;
}

.correct {
    background-color:#20615b ;
}

.incorrect {
   background-color: #a21232;
}

.result-message {
    font-size: 20px;
    text-align: center;
}
.result-message span {
    display: block;
    margin-top: 8px;
}